@model Lab2.ViewModels.Home.IndexViewModel
@*@Scripts.Render("~/bundles/jquery")*@
@{
    Layout = null;
}

<html>
<head>
    <title>MedCaffe</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/font.css" rel="stylesheet" type="text/css" />

    <!--<meta charset="utf-8" />-->
</head>
<body>
   
    <div class="verh">
        <button class="draw" onclick="@("window.location.href='" + @Url.Action("GetAll", "Kitchen") + "'");">Меню</button>
        <button class="draw">Категории</button>
        <div class="flip-container1" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper1">
                <div class="logo">

                    <!-- front content -->
                </div>
                <div class="logo1"></div>
            </div>
        </div>
        <button class="draw" onclick="@("window.location.href='" + "Identity/Account/Manage/Index" + "'");"> Личный кабинет</button>
        <button class="draw" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">Вход</button>
    </div>
    <div class="ser">
        <div class="nad5">MedCaffe</div>
        <div class="kor">
            <img src="images/shoppingbasket3_114870.png" />
            <label>Корзина</label>
        </div>
        <div class="flip-container vertical " ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="kar1">
                    <img class="car" src="images/cafehouse20177.png" />
                    <!-- front content -->
                </div>
                <div class="back">
                    <img class="car1" src="images/vkusno.png" />
                </div>
            </div>
        </div>
        <div class="pric">
            <div class="vot1">Посмотри</div>
            <img class="" src="images/1486348528-forward-arrows-arrow-front-go_80452.png" />
            <div class="vot2">Выбери</div>
            <img class="" src="images/1486348528-forward-arrows-arrow-front-go_80452.png" />
            <div class="vot3">"Купи"</div>
        </div>
        <img class="tt1" src="images/tt1.png" />
    </div>

    <div class="catalog">
        <div class="nad6">Каталог</div>
        <div class="kateg">
            <div class="nad7" onclick="@("window.location.href='" + @Url.Action("GetNewDishes", "Kitchen") + "'");">Новинки</div>
            <div class="nad8"> Меню</div>
            <div class="nad9" onclick="@("window.location.href='" + @Url.Action("GetTopDishes", "Kitchen") + "'");">ТОП </div>
        </div>
        <div class="str" onclick="disp(document.getElementById('fir'))"></div>
        <div style="display: none;" class="fir" id="fir" onclick="@("window.location.href='" + @Url.Action("GetAll", "Kitchen") + "'");">Блюдо</div>
        <div style="display: none;" class="sec" id="sec" onclick="@("window.location.href='" + @Url.Action("GetProductAll", "Product") + "'");">Продукты</div>
        <div class="product-block">
            <div class="product">
                <div class="product-image">
                    <img class="kartinka" src="images/vkusno.png" />
                </div>
                <div>
                    <div class="e30 "></div>
                    <div class="hto100">ЦВЕТ-РАЗМЕР</div>

                    <div class="opis">
                        <div class="name">PPP</div>
                        <div class="tsena">100uhy</div>
                    </div>
                    <div class="basket">В корзину</div>
                    <div class="nestoit"></div>
                    @*<div class='box'>

                                    <div class="name">@item.Brand</div>

                                    <div class="product-dop">@item.Dop</div>
                                    <div id="vortu">

                                        <p class="pizda"><input class="ps_@item.Id+color" name="color1" type="checkbox" value="@item1.Color"> @item1.Color</p>

                                    </div>
                                    <div id="polbu">

                                        <p><input name="volume1" class="ps_@item.Id+radio" type="radio" value="@item1.Volume  = @item1.Price euro"> @item1.Volume  = @item1.Price euro</p>

                                        <p><input name="volume1" class="ps_@item.Id+radio" type="radio" value="@item1.Volume  = @item1.Price грн"> @item1.Volume  = @item1.Price грн</p>

                                    </div>

                                    <div id="aga">ВЫБОР ЗА ВАМИ</div>
                                    <div id="smile"></div>


                                    <div onclick="tocart('@item.Brand', 'ps_@item.Id+_name','ps_@item.Id+_sname', 'ps_@item.Id+_age', 'ps_@item.Id+_size', '@item.Id' )" id="pod">Подтвердить</div>

                                </div>
                        </div>*@
                </div>
            </div>
            <div id="us111">
                <div id="a11"></div>
                <div onclick="disp(document.getElementById('winbloger'))" id="hto">КОФЕМОЛКИ</div>
            </div>
            <div id="winbloger" style="display: none;">
                <div onclick="disp(document.getElementById('winbloger'))" id="nestoitb">
                    <a href="" class="hto102"></a>
                </div>
                <!-- Картинка крестика -->

                <div class="pzdcc">
                    <div class="products-blocker">
                        <div id="pit">ТЕМПЕРА</div>
                        @foreach (var item in Model.Dishes)
                        {

                            <div class="product">
                                @if (item.Top)
                                {
                                    <img style="width: 82px;

                                                    height: 82px;

                                                    margin-top: -1%;

                                                    position: absolute;

                                                    margin-left: 5%;" src="~/image/ios7-pricetag-outline_icon-icons.com_501932.png" />
                                }
                                @if (item.New)
                                {
                                    <img style="width: 76px;

                                                height: 76px;

                                                margin-top: -1%;

                                                position: absolute;

                                                margin-left: 5.5%;" src="~/image/new_25355.png" />
                                }
                                <div class="e30 "></div>
                                <div class="hto100">ЦВЕТ-РАЗМЕР</div>

                                <div class="opis">
                                    <div class="name">@item.Name</div>
                                    <div class="tsena">@item.Price</div>
                                </div>
                                <div class="basket">В корзину</div>
                                <div class="nestoit"></div>
                                <div class="e30b "></div>

                                <div>

                                    <a href="" class="hto100b">ЦВЕТ-РАЗМЕР</a>
                                    <div style="margin-left: 27%;" id="nestoit">
                                        <a href="" class="hto101"></a>
                                    </div><div id="produc-basketb"><a href="">В КОРЗИНУ</a></div>


                                    @*<div onclick="tocart('@item.Name', '@item.Price','s_@item.Id+_sname', 's_@item.Id+_age', 's_@item.Id+_size', '@item.Id' )" id="pod">Подтвердить</div>*@
                                </div>
                            </div>




                            @*<div class="product-image">
                                    <img src="/image/@item.Image" alt="forest">

                                </div>
                                <div style="margin-top: 22%;" class="grupovuha">
                                    <div class="product-name">@item.Brand</div>

                                    <div class="product-price">@item.Price грн</div>
                                </div>*@



                        }
                        }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="infa">
        <div class="nad10">Инфо доска</div>
        <div id="carousel">
            <a href="#"><img src="images/1.jpg" id="item-1" /></a>
            <a href="#"><img src="images/2.jpg" id="item-2" /></a>
            <a href="#"><img src="images/3.jpg" id="item-3" /></a>
            <a href="#"><img src="images/4.jpg" id="item-4" /></a>
            <a href="#"><img src="images/5.jpg" id="item-5" /></a>
            <a href="#"><img src="images/6.jpg" id="item-6" /></a>
            <a href="#"><img src="images/7.jpg" id="item-7" /></a>
            <a href="#"><img src="images/8.jpg" id="item-8" /></a>
            <a href="#"><img src="images/9.jpg" id="item-9" /></a>
        </div>
        <div class="nav">
            <a href="#" id="prev"><img src="images/rleftarrow4_78468.png" /></a>  <a href="#" style="margin-left: 51%;" id="next"><img src="images/rightarrow4_78468.png" /></a>
        </div>
        <div class="con">
            <div class="inform">
                <label style="font-size:250%">Контакты</label>
                <label>Киев</label>
                <label>+380**********</label>
                <label>fac: medcaffe201900</label>
                <label>insta: medcaffe201900</label>
                <label>medcaffe201900@gmail.com</label>

            </div>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.0551028079126!2d30.427687415687586!3d50.44007427947392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc19f547785d%3A0xe7e588240239d964!2z0J3QsNGG0LjQvtC90LDQu9GM0L3Ri9C5INCw0LLQuNCw0YbQuNC-0L3QvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgg!5e0!3m2!1sru!2sua!4v1571565355574!5m2!1sru!2sua"></iframe>
        </div>
    </div>
    <div class="foot">
        <div class="blocks">
            <div class="block1">
                <div class="flip-container1" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper1">
                        <div class="logo">

                            <!-- front content -->
                        </div>
                        <div class="logo1"></div>
                    </div>
                </div>
                <div class="end">
                    <label>MedCaffe</label>
                    <label>Your health - Our money</label>
                    <label>Создан и реализован в 2019 году</label>
                </div>
            </div>
            <div class="block2">
                <div class="znaki">
                    <img src="images/iconfinder-social-media-applications-3instagram-4102579_113804.png" />
                    <img src="images/facebook_socialnetwork_17442.png" />
                    <img src="images/GMail_icon-icons.com_76886.png" />
                </div>
                <div class="podpis">
                    <label>insta: medcaffe201900</label>
                    <label>fac: medcaffe201900</label>
                    <label>medcaffe201900@gmail.com</label>
                </div>
                <div class="zahodi">
                    <img src="images/man_hi_human_talk_communicsation_hanging_icon-icons.com_54851.png" />
                    <label>Заходи к нам, мы тебя ждем)</label>
                </div>
            </div>
            <div class="block3">
                <img src="images/customer_person_people_man_user_client_1629.png" />
                <label>@@dizaynerOtBoga</label>
                <label>@@dimonzacompom</label>
                <label>@@yarikvodila</label>
                <label>@@mironbroyler</label>
            </div>
        </div>
    </div>


</body>
</html>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.waterwheelCarousel.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var carousel = $("#carousel").waterwheelCarousel({
            flankingItems: 3,
            movingToCenter: function ($item) {
                $('#callback-output').prepend('movingToCenter: ' + $item.attr('id') + '<br/>');
            },
            movedToCenter: function ($item) {
                $('#callback-output').prepend('movedToCenter: ' + $item.attr('id') + '<br/>');
            },
            movingFromCenter: function ($item) {
                $('#callback-output').prepend('movingFromCenter: ' + $item.attr('id') + '<br/>');
            },
            movedFromCenter: function ($item) {
                $('#callback-output').prepend('movedFromCenter: ' + $item.attr('id') + '<br/>');
            },
            clickedCenter: function ($item) {
                $('#callback-output').prepend('clickedCenter: ' + $item.attr('id') + '<br/>');
            }
        });

        $('#prev').bind('click', function () {
            carousel.prev();
            return false
        });

        $('#next').bind('click', function () {
            carousel.next();
            return false;
        });

        $('#reload').bind('click', function () {
            newOptions = eval("(" + $('#newoptions').val() + ")");
            carousel.reload(newOptions);
            return false;
        });

    });
</script>
<script type="text/javascript">

    $(window).on('load', function () {
        if (localStorage.getItem('toit') != null) {
            $('html, body').animate({
                scrollTop: $('#itemprom').offset().top - 100
            }, 1000);
            this.localStorage.removeItem('toit');
        }
    });
    function scrollView(id) {
        $('html, body').animate({
            scrollTop: $(id).offset().top - 100
        }, 1000);
        $(id).children('.product-image').addClass('light');
        setTimeout(() => { $(id).children('.product-image').removeClass('light'); }, 3000)
    }
    function onInput() {
        var val = document.getElementById("samtakoy").value;
        var opts = document.getElementById('searchlist').childNodes;
        for (var i = 0; i < opts.length; i++) {
            if (opts[i].value === val) {
                // An item was selected from the list!
                scrollView(opts[i].value);

                document.getElementById("samtakoy").value = "";

                break;
            }
        }
    }
    function to() {
        $('#name_5').scrollView();
    }
    function cr() {
        var DATA = getID();
        if (DATA != null) {
            var url = '/home/basket?ids=' + DATA;
            window.location.replace(url);
        }
        else {
            window.location.replace('/home/cart');
        }
    }

    function send() {
        var r = 'Перезвоните мне!!!!!';

        var MailViewModel = {
            Name: $('#form_imya').val(),
            Email: $('#form_fuckingmail').val(),
            Message: r
        };

        $.ajax({
            type: 'POST',
            url: '/api/Send',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(MailViewModel),
            success: function (data) {
                alert("Спасибо! Мы ответим Вам, как только увидим Ваше сообщение.");
                hideloader();
            },
            error: function (data) {
                alert("Ошибка сервера. Перезагрузите страницу или напишите на один из доступных Email вручную.");
            }
        });
    }
    function category(top) {
        if (top) {
            localStorage.setItem('toit', s);
            window.location.replace("/Home/index1");
        }
        else {
            localStorage.setItem('toit', s);
            window.location.replace("/Home/index1?cat=" + s);
        }

    }
    function getCart() {
        return JSON.parse(localStorage.getItem('сart'));
    }
    function setCart(d) {
        localStorage.setItem('сart', JSON.stringify(d));
    }
    function getID() {
        return JSON.parse(localStorage.getItem('ids'));
    }
    function setID(d) {
        localStorage.setItem('ids', JSON.stringify(d));
    }
    function setPrices(d) {
        localStorage.setItem('pr', JSON.stringify(d));
    }
    function getPrices() {
        return JSON.parse(localStorage.getItem('pr'));
    }
    function tocart(brand1, font1, fontsize1, text1, imsize1, textcolor1, imcolor1, itemid) {
        var brand = brand1 + ' ';
        var font = 'Шрифт: ' + document.getElementById(font1).value + ' ';
        var fontsize = 'Размер шрифта: ' + document.getElementById(fontsize1).value + ' ';
        var text = 'Надпись: ' + document.getElementById(text1).value + ' ';
        var textcolor = 'Цвет надписи:' + document.getElementById(textcolor1).value + ' ';
        var imsize = 'Размер картинки: ' + document.getElementById(imsize1).value + ' ';
        var piccolor;
        if (imcolor1 == 'Выберите цвет') {
            piccolor = ' ';
        }
        else {
            piccolor = 'Цвет картинки: ' + document.getElementById(imcolor1).value + ' ';
        }

        var radios = document.getElementsByClassName('s_' + itemid + '+radio');
        var radio;
        var checkboxes = document.getElementsByClassName('s_' + itemid + '+color');
        var gchecks = "";
        for (let i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                radio = radios[i];
            }
        }
        let j = 0;
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                gchecks = gchecks + checkboxes[i].value + "; ";
                j++;
            }
        }
        var final = brand + radio.value + '; Гравировка: (' + font + fontsize + text + textcolor + '); Картинка: (' + imsize + piccolor + ')';

        var cart = getCart();
        var ids = getID();
        if (cart == null) {
            cart = [];
            ids = [];
        }
        let i = cart.length;
        cart[i] = final;
        ids[i] = itemid;
        setCart(cart);
        setID(ids);
        alert("Товар добавлен в корзину");
    }

</script>
